---
FormatStyle: file
UseColor: true
Checks:
  - bugprone-*
  - concurrency-*
  - misc-*
  - performance-*
  - readability-*
CheckOptions:
  - key: bugprone-argument-comment.StrictMode
    value: true
  - key: bugprone-not-null-terminated-result.WantToUseSafeFunctions
    value: false
  - key: bugprone-reserved-identifier.AllowedIdentifiers
    value: ""
  - key: readability-function-cognitive-complexity.DescribeBasicIncrements
    value: false
  - key: readability-function-cognitive-complexity.IgnoreMacros
    value: true
  - key: readability-inconsistent-declaration-parameter-name.IgnoreMacros
    value: false
  - key: readability-inconsistent-declaration-parameter-name.Strict
    value: true
  - key: readability-identifier-naming.MacroDefinitionCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstantCase
    value: UPPER_CASE
  - key: readability-identifier-naming.ConstexprVariableCase
    value: lower_case
  - key: readability-identifier-naming.TypedefCase
    value: lower_case
  - key: readability-identifier-naming.StructCase
    value: aNy_CasE
  - key: readability-identifier-naming.UnionCase
    value: lower_case
  - key: readability-identifier-naming.EnumCase
    value: lower_case
  - key: readability-identifier-naming.ClassCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.ParameterCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case
