jobs:
  include:
    - os: linux
      dist: xenial
    - os: linux
      dist: bionic
language: cpp
cache: ccache
compiler:
  - gcc
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc
      - cmake
      - zlibc
      - libssl-dev
install:
  - wget https://github.com/protocolbuffers/protobuf/releases/download/v3.17.3/protobuf-all-3.17.3.tar.gz -O /tmp/protobuf-all-3.17.3.tar.gz
  - tar xzf /tmp/protobuf-all-3.17.3.tar.gz
  - cd "protobuf-3.17.3"
  - mkdir -p build
  - cd build
  - cmake ../cmake
  - make
  - sudo make install
  - cd $TRAVIS_BUILD_DIR
  - git clone --branch v2.13.6 https://github.com/catchorg/Catch2.git
  - cd Catch2
  - mkdir -p build
  - cd build
  - cmake ../
  - make
  - sudo make install
  - wget https://boostorg.jfrog.io/artifactory/main/release/1.76.0/source/boost_1_76_0.tar.gz -O /tmp/boost.tar.gz
  - tar xzf /tmp/boost.tar.gz
  - cd boost_1_76_0
  - ./bootstrap.sh
  - sudo ./b2 install
  - cd $TRAVIS_BUILD_DIR
script:
  - mkdir build
  - cd build
  - cmake ../
  - make

